/* You can add global styles to this file, and also import other style files */
@import'~bootstrap/dist/css/bootstrap.css';

body {
    background-image: url(./assets/images/people.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.card-body {
    float: right;
}
h1 {
    color: white;
}


